body{
	max-width:800px;
	min-width:350px;
	margin:auto;
	font-size:150%;
}

.AR-container{
	position:relative;
	padding-top: 40%;
	
}

main div {
	height: 25%;
	width:80%;
	position: absolute ;
	
}

header{
	background-image:url('img/chaines.png');
	background-size: contain;
	image-rendering: crisp-edges;
   image-rendering: pixelated;
	position: absolute; 
                top: 0; 
                left: 0; 
                bottom: 0; 
                right: 0; 
	display:flex;
	flex-wrap:wrap;
}

@keyframes fallDown {
  from {top: -50%;}
  to {top: 35%;}
}